html
	//+background(image-url("paper_texture.png") no-repeat, radial-gradient(circle at center -5em, $base4, $base04))
	//+background-size(100%, 100% auto)
	+sassy-noise(radial-gradient(circle at center -5em, $base4, $base04), $size: 50, $intensity: .5)
	@extend %serif

[class*=headline]
	@extend %sans

textarea
	width: 100%
h1
	+adjust-font-size-to(ms(3))
	+trailer(1, ms(3))

h2
	+adjust-font-size-to(ms(3))
	+trailer(1, ms(3))

h3
	+adjust-font-size-to(ms(2))
	+trailer(1, ms(2))

h4
	+adjust-font-size-to(ms(1))
	+trailer(1, ms(1))

h5
	+adjust-font-size-to(ms(0))
	+trailer(1, ms(0))

input
	+appearance(none)
	margin: 0
	padding: 0
	border: 0
	+adjust-font-size-to(ms(0))

p
	+adjust-font-size-to(ms(1))

div[role=main]
	+container
	+susy-grid-background
	+at-breakpoint($break)
		//+susy-grid-background
		+set-container-width
