.site
	padding: .5em

.heading__headline, .heading__headline > a
	color: $base02
	text-decoration: none

.heading__headline
	@extend %shadowed-l
	+clearfix
	text-align: center
	+rhythm(0, 1, 1, 0, ms(2))
	border-color: $base02
	&:after
		display: block
		background: $base02
		margin: 0 auto
		width: 90%
		line-height: .25
		content: "\00a0"
		+extrude-text($color: $base4)
		+leader(.32, ms(0))

.site__heading
	//background: $base02
	padding: 0 1.25em

.heading__description
	@extend %serif
	width: 80%
	display: block
	text-align: center
	+adjust-font-size-to(ms(0))
	color: $base4
	margin: 0 auto
	+text-shadow(0 -1px 1px $base004)
	+trailer
